{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- index.html content starts here -->
<div class="d-flex justify-content-center align-items-center vh-50">
    <div class="bg-light p-5 rounded text-center" style="opacity: 0.8; width: 100%; max-width: 900px;">
        <h1 class="display-1">Campus Lost & Found</h1>
        <p class="lead"><strong>Where Lost Meets Found, Campus Style!</strong></p>
        <a href="{% url 'item_list' %}" class="btn btn-warning btn-lg mx-2">Browse Items</a>
        <a href="{% url 'create_item' %}" class="btn btn-dark btn-lg mx-2">Report Item</a>
    </div>
</div>

<!-- Explanation paragraph styled similarly to the title banner -->
<div class="d-flex justify-content-center mt-3">
    <div class="bg-light p-5 rounded text-center" style="opacity: 0.8; width: 100%; max-width: 900px;">
        <h5><strong>Welcome to the Campus Lost & Found platform!</strong></h5> <br> 
        <p class="lead" style="font-size: 1.2rem; text-align: justify">
            Here, students and staff can easily report lost items and browse through items submitted by others.
            If you have misplaced something, or found something, simply click the 
            <a href="{% url 'create_item' %}" class="btn btn-dark btn-sm mx-1"><strong>Report Item</strong></a> button to fill out a quick form. 
            Alternatively, check  the <a href="{% url 'item_list' %}" class="btn btn-warning btn-sm mx-1"><strong>Browse Items</strong></a> 
            section to see if your lost item has been turned in. Our goal is to create a supportive community where everyone 
            can help each other find their belongings!
        </p>
    </div>
</div>



{% endblock %}

